@import '../../mixins.scss';
.registration_header {
    width: 55%;
    h1 {
        @include heading_1;
        width: 95%;
        min-height: 50px;
        color: #212529;
        text-align: center;
    }
    p {
        @include paragraph_1;
        margin-top: 10px;
        text-align: center;
        width: 45%;
        height: 41px;
        color: #4c4b4b;
    }
}

