.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo {
    background-image: url("../../assets/logo.png");
    background-repeat: no-repeat;
    width: 20%;
    min-height: 40px;
    margin: 20px 0 0 30px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
ul{
    margin-right: 15px;
    width: 60%;
    display: flex;
    justify-content: space-around;
}
ul li {
    list-style: none;
    color: #212529;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;
}