@mixin font-family {
  font-family: Open Sans, serif;
  font-weight: 400;
}

@mixin heading_1 {
  @include font-family;
  font-size: 50px;
  line-height: 54px;
}

@mixin heading_2 {
  @include font-family;
  font-size: 24px;
  line-height: 29px;
}

@mixin paragraph_1 {
  @include font-family;
  font-size: 16px;
  line-height: 24px;
}

@mixin heading_1_t {
  @include font-family;
  font-size: 40px;
  line-height: 44px;
}

@mixin heading_1_m {
  @include font-family;
  font-size: 30px;
  line-height: 34px;
}


@mixin primary_color {
  color: rgb(239, 91, 76);
}

@mixin secondary_color {
  color: rgb(0, 123, 255);
}

@mixin background_color {
  background-color: rgb(255, 255, 255);
}

@mixin background_color_2 {
  background-color: rgb(249, 249, 243);
}