.banner {
    background-image: url("../../assets/header_background_image.png");
    width: 100%;
    min-height: 600px;
}
.banner div {
    margin-left: 32px;
    margin-top: 108px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner div h1 {
    width: 53%;
    height: 146px;
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    line-height: 54px;
    text-transform: uppercase;
}
.banner div p {
    width: 54%;
    height: 110px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.banner div a {
    text-decoration: none;
    width: 210px;
    height: 38px;
    border-radius: 4px;
    background-color: #ef5b4c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    font-size: 16px;
    font-weight: 600;
}
